@CHARSET "ISO-8859-1";
body{
	background-color: #e4e4e4;
}
div{
	margin:10px;
	width:200px;
	height: 200px;
	background-color: red;
	 position: relative;
	animation-name:animation;
	animation-duration:5s;
	animation-iteration-count: 3;
}
@animation{
	 0%  {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    100% {background-color: green; left:0px; top:200px;}
}
@-webkit-keyframes animation {
   0%  {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    100% {background-color: green; left:0px; top:200px;}
}